@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    max-height: 1000px;
    height: auto;
}
body{
    background: linear-gradient(135deg, #22c55e, #333333);
    background-attachment: fixed;
}